.hamburger{
    display: flex;
    margin-left: 80px  ;
    margin-top: 3%;
    }
    .navbar , a{
        display: flex;
       text-align: right;
       text-decoration: none;
       margin-left: 80px  ;
       list-style: none;
    }
.gmap_canvas{
    justify-items: center;
    margin-left: 10%;
    margin-top: 10%;
    padding: 20px,50px;
}