
.hamburger{
    display: flex;
    margin-left: 80px  ;
    margin-top: 3%;

    
    }
    .navbar , a{
        display: flex;
       text-align: right;
       text-decoration: none;
       margin-left: 80px  ;
       list-style: none;
    }

    p {
        color: black;
        font-size: 1.4rem;
        margin-top: 5px;
        line-height: 2.5rem;
        font-weight: 300;
        letter-spacing: .05rem;
    }
    .section-title {
        font-size: 4rem;
        font-weight: 300;
        color: black;
        margin-bottom: 40%;
        text-transform: uppercase;
        letter-spacing: .2rem;
        text-align: center;
    }
   
    /* Services Section */
   

    /* Projects section */
    #projects .projects {
        flex-direction: column;
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 0;
    }
    /* #projects .projects-header h1 {
        margin-bottom: 50px;
    } */
    #projects .project-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        margin: 20px auto;
        overflow: hidden;
        border-radius: 10px;
    }#projects .project-info {
        padding: 30px;
        flex-basis: 50%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
        color: white;
    }
    #projects .project-info h1 {
        font-size: 4rem;
        font-weight: 500;
    }
    #projects .project-info h2 {
        font-size: 1.8rem;
        font-weight: 500;
        margin-top: 10px;
    }
    #projects .project-info p {
        color: white;
    }
    .project-infoone{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 1200%;
        margin: 20px auto;
        overflow: hidden;
        /* border-radius: 10px; */
    }
    .section-title ,p{
        margin-bottom: 40px;
    }
 .footers{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    background-color: #163f6c;

 }
.content .p{
    color: white;
}
    
          
    

        
    
       
  